@import "tailwindcss";

:root {
  /* background */
  --bg-primary: #fdfdfe;
  --bg-secondary: #f9fafb;

  /* text */
  --text-primary: #0d141b;
  --text-secondary: #577ba0;

  /* brand */
  --brand-primary: #137fec;
  --brand-muted: #dfeaf6;

  /* state */
  --success: #1ebd88;
  --success-muted: #dff0eb;
}

@theme {
  /* background */
  --color-background-primary: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);

  /* text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  /* brand */
  --color-brand: var(--brand-primary);
  --color-brand-muted: var(--brand-muted);

  /* state */
  --color-success: var(--success);
  --color-success-muted: var(--success-muted);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

/* navbar  */
.link-navigation {
  @apply capitalize cursor-pointer font-light transition-all flex gap-1 hover:opacity-50;
}

/* journey */

.journey-card {
  @apply flex items-center gap-2;
}

.journey-card .dot {
  @apply rounded-full w-4 h-4 relative;
}

/* footer  */

.footer-ul {
  @apply flex flex-col gap-4;
}

.footer-ul li {
  @apply text-text-secondary;
}

.footer-ul h4 {
  @apply font-bold;
}
